:root {
  --bg-primary: #f6c9c3;
  --bg-secondary: rgba(200, 200, 200, 0.6);
  --bg-url: "../assets/bg.jpg";
  --btn-primary: #d36e66;
  --btn-primary-hover: #cc6057;
  --btn-primary-pressed: #b7544c;
  --text-ui-primary: #000000;
  --text-ui-secondary: #565656;
  --text-input-primary: #eb9f94;
  --text-input-primary-focus: #da8c81;
  --output-primary: rgba(0, 0, 0, 0.9);
  --output-primary-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-secondary: rgba(0, 0, 0, 0.5);
    --text-ui-primary: #ffffff;
    --text-ui-secondary: #9b9b9b;
    --text-input-primary: rgba(0, 0, 0, 0.5);
    --text-input-primary-focus: rgba(0, 0, 0, 0.7);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  caret-color: var(--text-ui-secondary);
}

*::placeholder {
  color: var(--text-ui-secondary);
}

*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--bg-primary);
}

input[type="file"] {
  display: none;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Varela Round", sans-serif;
  color: var(--text-ui-primary);
}

.container .options {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1em;
  gap: 1em;
  height: 95%;
  width: 25%;
  background: var(--bg-secondary);
  backdrop-filter: blur(20px);
  border-radius: 1em;
  overflow: auto;
}

.button {
  font-weight: bolder;
  background: var(--btn-primary);
  cursor: pointer;
  border-radius: 2em;
  text-align: center;
  border: none;
  color: var(--text-ui-primary);
}

.container .options .imageBtn {
  font-size: 1.5em;
  padding: 0.5em 0.7em;
}

.button:hover {
  background: var(--btn-primary-hover);
}
.button:active {
  background: var(--btn-primary-pressed);
}

.container .options #canvas {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

.container .options .preview {
  display: none;
}

.container .options .title {
  font-weight: bolder;
  font-size: 1.7em;
}

.container .options .controls {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.container .options .characterInput {
  width: 100%;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 0.5em 0.7em;
  border-radius: 2em;
  background: var(--text-input-primary);
  border: none;
  color: var(--text-ui-primary);
  font-family: "Varela Round", sans-serif;
}

.container .options .characterInput:focus {
  background: var(--text-input-primary-focus);
}

.container .options .copyToClipboard {
  font-size: 1.5em;
  padding: 0.5em 0.7em;
  width: 100%;
}

.container .options .info {
  color: var(--text-ui-secondary);
  font-weight: bolder;
  font-family: "Varela Round", sans-serif;
  font-size: 1.1em;
}

.container .outputDiv {
  padding: 1em;
  height: 95%;
  width: 70%;
  background-color: var(--output-primary);
  backdrop-filter: blur(20px);
  border-radius: 1em;
}

.container .outputDiv .header {
  display: flex;
  gap: 0.3em;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-start;
  margin-bottom: 0.6em;
}

.container .outputDiv .header .fontBtn {
  font-size: 1.7em;
  padding: 0.1em 0.5em;
}

.container .outputDiv #output {
  overflow: auto;
  max-height: 95%;
  color: var(--output-primary-text);
}

@media screen and (max-width: 768px) {
  html,
  body {
    height: auto;
  }
  .container {
    width: 100%;
    flex-flow: column;
    padding: 1em;
    gap: 1em;
  }
  .container .options {
    width: 100%;
  }
  .container .options .characterInput {
    font-size: 1.3em;
  }
  .container .outputDiv {
    width: 100%;
  }
}
